antropy==0.1.9
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
Flask==3.0.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
llvmlite==0.44.0
lxml==5.4.0
MarkupSafe==3.0.2
nibabel==5.2.1
nilearn==0.11.1
numba==0.61.2
numpy==1.26.4
packaging==25.0
pandas==2.2.2
pip==23.2.1
py_cui==0.1.6
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==2.4.0
Werkzeug==3.1.3
